// @import url('https://fonts.googleapis.com/css?family=Heebo:700&display=swap');
@import "../../utils/style";
@import url('https://fonts.googleapis.com/css?family=Heebo:700|Roboto:900&display=swap');

.team-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.team-link {
  @include centerText();
  font-family: "Antonio-Light", sans-serif;
}
.test {
  // height: 100%;
  // transform: translateY(-107px);
  margin-bottom: 14px;
}
.difftest {
  // height: 100%;
}

@media(max-width: 768px) {
  .team-image {
    height: 200px;
  } 
}